
<div class="container">

    <h1 style="text-align: center;">Kundan's Senrysa Task</h1> 
    
    <div class="row mb-2">
        <div class="col-md-3 input-box">
            <label>X-Dimension</label>
            <input [(ngModel)]="tileSizeX" type="number" placeholder="x-axis"  />
        </div>
        <div class="col-md-3 input-box">
            <label>Y-Dimension</label>
            <input [(ngModel)]="tileSizeY" type="number" placeholder="y-axis"  />
        </div>
        <div class="col-md-2">
            <button class="btn btn-primary" (click)="dimension()" >Set-Dimension</button>
        </div> 
    </div>

    <div class="row">
        <div class="col-md-3 input-box">
            <label>X-Axis</label>
            <input [(ngModel)]="xAxis" type="number" placeholder="x-axis"  />
        </div>
        <div class="col-md-3 input-box">
            <label>Y-Axis</label>
            <input [(ngModel)]="yAxis" type="number" placeholder="y-axis"  />
        </div>
        <div class="col-md-3">
            <select class="form-control" [(ngModel)]="direction" >
                <ng-container *ngFor="let dir of directions; let i = index;">
                    <option value="{{ dir }}">{{ dir.toUpperCase() }}</option>
                </ng-container>
            </select>
        </div> 
        
        <div class="col-md-2">
            <button class="btn btn-primary" (click)="place()" >Place</button>
        </div>   
    </div>


    <div class="main_btn_div">
        <div class="btn-group">
            <button class="btn btn-success" (click)="left()" >Left</button> &nbsp;
            <button class="btn btn-success" (click)="right()" >Right</button> &nbsp;
            <button class="btn btn-success" (click)="move()" >Move</button> &nbsp;
            <button class="btn btn-success" (click)="report()" >Report</button> &nbsp;
            <button class="btn btn-success" (click)="clear()" >Clear</button> &nbsp;
        </div>
        
    </div>

    <div class="main-content">
        <table class="tiles-set" #tileset >   
        </table>
        
        <div class="command-box">
            <p *ngFor = "let input of code; let i = index;"><b>{{ i+1 }}. </b> {{ input }}</p>        
        </div>
    </div>

    <div *ngIf="output != '' " class="output-box">
        <button  (click)="clear()">X</button>
        <h3 ><b>Output: </b> {{ output }} </h3>
    </div>

</div>


