td.odd-bg, td.even-bg {
    width: 80px;
    height: 80px;
    border: 2px solid green;
}

td.odd-bg {
    background-color: white;
}
td.even-bg {
    background-color: black;
}
.robot{
    width:80px;
    height: 80px;
    object-fit: contain;
}
.robot-north{
    transform: rotate( 180deg );
}
.robot-east{
    transform: rotate( -90deg );
}
.robot-west{
    transform: rotate( 90deg );
}
.robot-south{
    transform: rotate( 0deg );
}
.input-box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.input-box label {
    margin: 0 10px 0 0;
    white-space: nowrap;
}

.input-box input {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.main_btn_div{
    width: 50%;
    margin: auto;
    justify-content: center;
    margin-top: 15px;
}

.btn-group{
    display: flex;
     justify-content: space-around;
}

.btn-group button {
    width: 22%;
    display: block;
    flex: unset !important;
}

.main-content {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    margin-bottom: 20px;
}
.command-box {
    flex: 0 0 45%;
    padding: 10px;
    background-color: black;
    border-radius: 8px;
    overflow-y: auto;
    height: 410px;
}

.command-box p {
    color: white;
}
.output-box{
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50vw;
    height: 50vh;
    background-color: white;
    display: flex;
    transform: translate(-50%, -50%);
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    z-index:2;
    box-shadow: 0 0 4px 1px #ababab;
}
.output-box button{
    position: absolute;
    top: 5px;
    right: 5px;
    border: none;
    border-radius: 8px;
    font-family: cursive;
    width: 30px;
    height: 30px;
    z-index:2;
    cursor: pointer;
}
.output-box button:hover{
    background-color:red;
    color:white;
}